html{
    background-color: white;
    max-width: 1920px;
    max-height: 1200px;
}
body{
    max-width: 1920px;
    max-height: 1200px;
}
/* body{
    background-color:white;
} */
.logoImg{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    overflow:hidden;
    box-shadow: 1px 2px 4px 4px gray;
    border-radius: 50%
}

.slide_content{
    width: 80px;
    height: 80px;
    margin-top: 16px;
    margin-bottom: 1%;
    background-color:white;
    color: darkolivegreen;
    text-align: center;
    display: block;
    /* max-width: 70%;
    max-height: 150px; */
}
.slide_box {
    margin-left: 90%;
    position: relative;
    
}
.hidden{
    display: none;
}
.slide_btn{
    all: unset;
    margin-top: 5%;
    width:1%;
    height: 1%;
    cursor: pointer;
}
.left {
    position: absolute;
    left: 5%;
    top: 10%;
}
.right {
    position: absolute;
    right: 57%;
    top: 10%;
}
.but_img{
   width: 15px;
   height: 15px;
}
.main_text_box{
    /* position: static; */
    margin-top: 3%;
    display: block;
    border-bottom: 5px solid black ;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
.mainTitle{
    
    width: 100%;
    margin-left: 30%;
}
.date{
    position: relative;
    margin-top: 5%;
    margin-left: 30%;
    color: gray;
}
.description{
    width: 45%;
    height: 45%;
}
.descriptionBox{
    width: 70%;
    height: 300px;
}
.hidden {
    display: none;
}
.title_Size{
    width: 400px;
    height: 35px;
    /* max-width: 400px;
    max-height: 35px; */
}
/* .descriptionTestBox{
    width: 70%;
    background-color: white;
} */