
.mnb_wrap{
    all: unset;
    position:fixed;
    margin-top: -12%;
    background-color:white;
    border-bottom: solid black 5px;
    width: 1920px;
    height: 80px;
    left: 0px;
}

.mnb_list li{
    all: unset;
    float:left;
    height:64px;
    width: 100px;
    vertical-align: middle;
    line-height: 64px;
    margin-left:54px;
    font-size:16px;
    
}
.mnb_list li:first-child{
    margin-left:0;
}
.mnb_list li a{
    color: black;
    float:left;
    
}
.white{
    color: white;
}
.mainTest{
    background-color: white;
}
.SubMenu_BOX{
    float:left;
    width: 100%;
    height: 400%;
    background: white;
    box-shadow: 2px 2px 4px 4px gray;
    padding-left: 15%;
    margin-top: -3%;
}
